.ripple-button-cdn-classname {
    display: inline-grid;
    place-items: center;

    position: relative;
    isolation: isolate;
    appearance: none;

    overflow: hidden;

    &::before {
        content: "";

        position: absolute;
        left: var(--x);
        top: var(--y);
        transform: translate(-50%, -50%) scale(0);
        z-index: -1;

        transition: transform 750ms;

        width: 150%;
        aspect-ratio: 1/1;
        border-radius: 50%;

        background: var(--ripple-color);
        opacity: var(--ripple-opacity);
    }

    &.pulse::before {
        animation: pulse 500ms;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: var(--ripple-opacity);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}